/*
START OF: Styling for index (Homepage)
*/
.jmx_ports_wrapper .form-control{

}
/*
END OF: Styling for index (Homepage)
*/

/*
START OF: Styling for zk and test;
*/
.wrapper {
	border : 2px solid #000; 
	overflow:hidden;
	height:100%;
  width:100%;
  min-width: 600px;
  min-height: 500px;
  position: relative;
  text-align:center;
  padding:10px;
}

/*
.wrapper div {
	min-height: 400px;
  height:100%;
  width:100%;
	padding: 10px;
}
*/

#list-items{
	background-color: gray;
	float:left; 
	margin-right:20px;
	width:140px;
	border-right:2px solid #000;
}

#digraph-frame{
	background-color: white;
	margin:10px;
  min-height:500px;
  z-index:-1;
  min-width: 600px;
	height:100%;
  width: 100%;
  text-align: center;
}

#digraph-frame iframe {
	height: 99%; /*900px*/
	width: 99%;
  min-width: 600px;
  min-height: 450px;
  padding: 10px;
  text-align: center;
}

#digraph-legend {
  text-align: center;
  z-index:-1;
}

#digraph-fieldset {
  text-align: center;
  z-index:-1;
  min-width: 600px;
  min-height: 450px;
  height:94%;
  width:94%;
}

/*.svg-window {
  width:100%;
  height:100%;
  min-width: 600px;
  min-height: 400px;
}*/

#header, #footer {
    width:100%;
    float:left;
}

#footer {
    position:fixed;
    bottom:0;
    z-index:999999;
}

.text-area {
	margin: 0px;
	width: 990px;
	height: 120px;
}

#topic-text-area {
	margin: 0px;
	width: 990px;
	height: 120px;
}


/*
END OF: Styling for zk and test;
*/

/*
START OF: Styling for the d3 graph
*/

.link {
  fill: none;
  stroke: #666;
  /*stroke-width: 1.5px;*/
}

#licensing {
  fill: green;
}

.link.licensing {
  stroke: green;
}

.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

circle:hover{
	fill:blue;
}

text {
  font: 15px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

/*Tooltip styling*/
.d3-tip {
  line-height: 1;
  /*font-weight: bold;*/
  /*padding: 12px;*/
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 0px;
  z-index:999999; 
  position:relative;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* Style the unordered list inside*/
ul {
  list-style-type:none;
  padding:15px;
}

/* Style the list items in ul*/
/* This include all the nodes*/
ul li {
  font-size: 12px;
}

/* Style for all the tips*/
.topic-tip-heading{
  font-size: 12px;
  text-align: center;
  z-index:999999; 
  position:relative;
}

.conprod-tip-heading{
  font-size: 12px;
  margin: 10px;
  /*padding: 0px;*/
  /*margin: 2px;*/
  text-align: center;
}

.con-tip-heading{
  font-size: 12px;
  /*padding: 0px;*/
  /*margin: 2px;*/
  text-align: center;
}

.prod-tip-heading{
  font-size: 12px;
  /*padding: 0px;*/
  /*margin: 2px;*/
  text-align: center;
}

.consumer-producer {
    padding: 0px;
    margin: 10px;
}

.consumer-producer li{
  font-size: 10px;
}

.consumer {
    padding: 0px;
    margin: 10px;
}

.consumer li{
  font-size: 10px;
}

.producer {
    padding: 0px;
    margin: 10px;
}

.producer li{
  font-size: 10px;
}

.messages tr td{
  font-size: 10px;
}

.messages #messages-heading{
  font-size: 12px;
}

.bytes tr td{
  font-size: 10px;
}

.bytes #bytes-heading{
  font-size: 12px;
}
/*
END OF: Styling for the d3 graph
*/