<!DOCTYPE html>
<html lang="en">
<head>
	<title>
	{% block title %}
		Fufuka
	{% endblock %}
	</title>
	{% block head %}
	{% endblock %}
</head>
<body>
	<div id="wrapper">
	 {% block wrapper %}
	 		<div id="header">
				{% block header %}
			<h1>Fufuka</h1>
			{% endblock %}
			</div>
			<div id="content">
			{% block content %}
			<h1>Fufuka</h1>
			{% endblock %}
			</div>
			<div id="footer">
			{% block footer %}
			&copy; Copyright 2015 by <a href="http://domain.invalid/">John G. Keto</a>.
			{% endblock %}
			</div>
	{% endblock %}
</div>
</body>
</html>