{% extends "layout.html" %}
{% block head %}
{{ super() }}
<!-- <meta http-equiv="refresh" content="1" > -->
{% endblock %}
{% block content %}
<div class="wrapper">
    <!--<div id="list-items">
        <div class="topics">
            {% block topics%}
            <p>Topics</p>
            {% for item in topics %}
            <li>{{ item }}</li>
            {% endfor %}
            {% endblock %}
        </div>
        <div class="producers">
            {% block producers%}
            <p>Producers</p>
            {% for item in producers %}
            <li>{{ item }}</li>
            {% endfor %}
            {% endblock %}
        </div>
        <div class="brokers">
            {% block brokers%}
            <p>Brokers</p>
            {% for item in brokers %}
            <li>{{ item }}</li>
            {% endfor %}
            {% endblock %}
        </div>
        <div class="consumers">
            {% block consumers%}
            <p>Consumers</p>
            {% for item in consumers %}
            <li>{{ item }}</li>
            {% endfor %}
            {% endblock %}
        </div>
    </div> -->
    <div id="digraph-frame">
        <iframe src="/test" scrolling="no"></iframe>
    </div>
<!--     <div id="current-frame">
        <iframe src="/current_node" marginwidth="0" marginheight="0" scrolling="no"></iframe>
    </div> -->
    <div class="text-area">
        <textarea id="topic-text-area"></textarea>
    </div>
    <script type="text/javascript">
//Get the latest JMX data
//     setInterval(function(){
//    function obtainedResult(data) {
//         $("#topic-text-area").val(data);
//     }
//     $.ajax({
        
//         url: "http://" + {{ host }} + ":8778/jolokia/read/kafka.server:type=BrokerTopicMetrics,name=MessagesInPerSec,topic=*",
//         type: "get",
//         datatype:"json",        
//         success: function(response){
//         // Execute our callback function
//         obtainedResult(response);
// }
// });

    // }, 1000);
    </script>
    {% block footer %}
    {% endblock %}
</div>
{% endblock %}

